.jobheader{
    background: hsl(56, 63%, 80%);
    display: table;
    table-layout: fixed;
    width: 100%;
}

.item {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: table-cell;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.item:hover{
    background: #748ffc;
    color: red;
}

.item:active, .item.active {
    background: blue;
    color: yellow;

}

