html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.footer{
    width: 100%;
    background-color: #23415c;
    padding: 2% 2% 5% 2%;
    color:#FFF;
}

.fa {
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}

.fa:hover{
    color:#D5D5D5;
    text-decoration: none;
}

.icon{
    max-width: 180px;
}

@media(max-width: 768px){
    .icon{
        max-width: 60px;
    }

    .col-sm-4{
        padding: 10px;
    }


}